:root{
    --primary-color: #155eca;
    --white:#efefef;
    --grey:#ccc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header>div{
    width: 20rem;
    height: 6rem;
    margin: 4.5rem auto 1rem;
    white-space: nowrap;
}
header>div>figure>img{
    width: 100%;
    object-fit: scale-down;
}
.header__logo-mobile{
    display: inline-block;
    width: 30%;
    height: 100%;
}
.header__logo{
    display: inline-block;
    width: 70%;
    height: 100%;
    text-align: center;
}
.header__logo figcaption{
    font-size: 1.4rem;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}
.lenguages-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    position: relative;
    margin: 3rem auto 1.5rem;
}

.card{
    position: relative;
    padding: 1rem 1.2rem;
    text-align: center;
}
.card:hover{
    cursor: pointer;
    background-color: #efefef;
}
.card__header{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.5rem;
    outline: none;
}
.card__info{
    display: block;
    color: #555;
    font-size: 1.4rem;
}

.form-container{
    height: 4.5rem;
    width: 100%;
    max-width: 46rem;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    padding: 0 1rem;
    margin: 0 auto;
    white-space:nowrap;
}

.form-container__search{
    display: inline-block;
    white-space: nowrap;
    height: 100%;
    width: 85%;
    border: 1px solid #ccc;
}
.form-container__search:hover{
    border:1px solid  #888;
}
.form-container:focus-within>.form-container__search{
    border:2px solid  var(--primary-color);
}
.form-container__input{
    height: 100%;
    font-size: 2rem;
    padding: 0 8px;
    outline: none;
    border: 1px solid transparent;
}
.form-container--borderless{
    border: 1px solid transparent;
    outline: none;
}
.form-container--primary{
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white);
}
.form-container__input--big{
    width: 85%;
}
.form-container__input--small{
    width: 15%;
}
.button--right-borders{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.lang-list{
    width: 100%;
    position: relative;
    text-align: center;
    margin: 2.4rem 0;
}
.lang-list__button{
    cursor: pointer;
    color: var(--primary-color);
    background-color: #efefef;
    border: 1px solid #ccc;
    outline: 1.6rem solid #fff;
    border-radius: 0.2rem;
    font-size: 1.4rem;
    padding: 0.8rem 1rem;
}
.lang-list__button>i{
    margin: 0 0.8rem;
}
.lang-list__list{
    position: relative;
    bottom: 1.7rem;
    z-index: -1;
    width: 80%;
    max-width: 46rem;
    margin: 0 auto;
    border-top: 1px solid var(--grey);
}
.o1{
    order: 1;
}
.o2{
    order: 2;
}
.o3{
    order: 3;
}

.footer{
    display: flex;
    flex-wrap: wrap;
}
.footer__top{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.footer_header{
    font-size: 1.3rem;
    text-align: center;
    color: #555;
    padding: 1rem 0.8rem;
}
.footer_header a{
    text-decoration: none;
    color: var(--primary-color);
}
.footer__img{
    font-size: 5rem;
    color: black;
    width: 5rem;
    margin: 0 auto 1rem;
}
.footer__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 9rem);
    padding: 0.5rem;
    gap: 0.5rem;
}
.footer__item{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 1rem 1rem;
}
.footer__item>figure{
    display: inline-block;
    flex-direction: 1 1 0;
    width: 5rem;
    height: 5rem;
    background-color: var(--primary-color);
}
.footer__item>p{
    flex: 1 1 0;
    padding: 0 1rem;
}
.footer__item:hover{
    background-color: #ddd;
}
.footer__download{
    background-color: #f8f8f8;
    padding: 1rem 2.4rem;
    margin: 0 0 2.4rem;
    font-size: 1.3rem;
    text-align: center;
}
.footer__download>figure{
    margin: 1rem 0;
}
.footer__download>figure>img{
    display: inline-block;
    width: 10rem;
    object-fit: scale-down;
}
.footer__bottom{
    width: 100%;
    text-align: center;
    border-top: 1px solid #ccc;
    color: #555;
    padding: 1.5rem;
    font-size: 1.3rem;
}
.footer__bottom>p>a{
    position: relative;
    margin-left: 1.6rem;
    color: var(--primary-color);
    text-decoration: none;
}
.footer__bottom>p>a:hover{
    text-decoration: underline;
}
.footer__bottom>p>a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 5px;
    height: 5px;
    background-color: #333;
    border-radius: 50%;
}
.c1, c2, c3{
    width: 100%;
}
.c1{
    order: 1;
}
.c2{
    order: 2;
}
.c3{
    order: 3;
}