.footer__top{
    flex-direction: column;
    height: 50rem;
    justify-content: space-evenly;
    padding: 4rem 1.38rem;
    margin: 0 auto;
}
.footer__img{
    display: inline-block;
    width: 20%;
    float: left;
}
.footer__header>p{
    display: inline-block;
    width: 80%;
    padding: 1rem;
}
.c1{
    width: 35%;
    text-align: left;
}
.c2{
    order: 3;
    width: 65%;
    padding: 0;
}
.c3{
    order: 2;
    width: 35%;
    text-align: left;
 }